<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vue start</title>
	
	<style>
		.strike{
			text-decoration: line-through;
		}
	</style>
</head>
<body>

<div id="app">
    
<button v-on:click.prevent="onClick">button{{button}}</button>
<hr>

<input type="text" v-model="message" v-on:keyup.13="onClick">
<hr>

<textarea v-on: cols="30" rows="10" v-model="messageTextarea" v-on:keyup.13="onClicktextarea"></textarea>
<hr>

<input placeholder="for button" type="text" v-model="button">
<hr>



</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script>
var app = new Vue({
  el: '#app',
  data:{
    message:'',
    messageTextarea:'',
    button:'',
    pressEnter:''
  },
  methods: {
    onClick: function(){
        console.log(this.message);
    },
    onClicktextarea: function(){
        console.log(this.messageTextarea);
    }
  }
});
</script>
</body>
</html>